.Weather {
    border: 1px solid #707579;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.Weather h1 {
    color: #707579;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.Weather form {
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-transform: capitalize;
}


.Weather .temperature {
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    float: left;
}



.Weather .main-icon {
    float: left;
    margin-right: 10px;
}

.unit {
    text-decoration: none;
}


.forecast {
    margin-top: 64px;

}

.forecast h4 {
    font-size: 20px;
    color: #707579;
}



.WeatherForecastPreview {
    display: block;

}

.WeatherForecast {
    text-align: center;
    margin: 40px 0;
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 50px;
}

.WeatherForecast .forecast-temperature {
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #085ED6;
    font-weight: bold;
}

.WeatherForecast .forecast-temperature-min {
    margin-left: 10px;
    opacity: 0.6;
}

.icon-forecast {
    width: 44px;
    height: 44px;
}

.Weather .WeatherForecastPreview .icon-forecast-block img {
    display: block;
    margin: 20px auto;
}